#PlacesChevronPopup menuitem.bookmark-item image, #PlacesChevronPopup menu.bookmark-item image {
    filter: url(filter.svg#grayscale);
}

#PlacesChevronPopup menuitem.bookmark-item:hover image, #PlacesChevronPopup menu.bookmark-item:hover image {
    filter: none;
}

toolbar toolbarbutton .toolbarbutton-icon {
    filter: url(filter.svg#grayscale);
}

toolbar toolbarbutton:hover .toolbarbutton-icon {
    filter: none;
}

toolbar.grayscale-disabled toolbarbutton .toolbarbutton-icon {
    filter: none;
}
